t3tpgr32/src/conf/xml-resources/web-service-references/controlador_publicacion/wsdl/localhost_9128/controlador_publicacion.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorControladorPublicacionService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9128/controlador_publicacion?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:9128/controlador_publicacion?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="buscarPublicacion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarPublicacionResponse">
<part name="return" type="tns:dataPublicacionArray"></part>
</message>
<message name="buscarPublicacionCompleta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarPublicacionCompletaResponse">
<part name="return" type="tns:dataPublicacionArray"></part>
</message>
<message name="registrarCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="registrarCategoriaResponse"></message>
<message name="listarPromociones"></message>
<message name="listarPromocionesResponse">
<part name="return" type="tns:dataPromocionArray"></part>
</message>
<message name="listarServiciosDeCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarServiciosDeCategoriaResponse">
<part name="return" type="tns:dataServicioBeanArray"></part>
</message>
<message name="infoServicio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="infoServicioResponse">
<part name="return" type="tns:dataServicioBean"></part>
</message>
<message name="listarServicios"></message>
<message name="listarServiciosResponse">
<part name="return" type="tns:dataServicioBeanArray"></part>
</message>
<message name="altaPromocion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="tns:dataServicioBeanArray"></part>
<part name="arg3" type="xsd:float"></part>
</message>
<message name="altaPromocionResponse"></message>
<message name="getCatTree"></message>
<message name="getCatTreeResponse">
<part name="return" type="tns:catTree"></part>
</message>
<message name="infoPromocion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="infoPromocionResponse">
<part name="return" type="tns:dataPromocion"></part>
</message>
<message name="listarServiciosDePromocion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarServiciosDePromocionResponse">
<part name="return" type="tns:dataServicioBeanArray"></part>
</message>
<message name="altaServicioSinDestino">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg2" type="ns1:base64BinaryArray"></part>
<part name="arg3" type="xsd:float"></part>
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="arg4" type="ns2:stringArray"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="tns:dataUbicacion"></part>
</message>
<message name="altaServicioSinDestinoResponse"></message>
<message name="registrarCategoriaConPadre">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="registrarCategoriaConPadreResponse"></message>
<message name="altaServicioConDestino">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="arg2" type="ns3:base64BinaryArray"></part>
<part name="arg3" type="xsd:float"></part>
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="arg4" type="ns4:stringArray"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="tns:dataUbicacion"></part>
<part name="arg7" type="tns:dataUbicacion"></part>
</message>
<message name="altaServicioConDestinoResponse"></message>
<portType name="PublicadorControladorPublicacion">
<operation name="buscarPublicacion">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/buscarPublicacionRequest" message="tns:buscarPublicacion"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/buscarPublicacionResponse" message="tns:buscarPublicacionResponse"></output>
</operation>
<operation name="buscarPublicacionCompleta">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/buscarPublicacionCompletaRequest" message="tns:buscarPublicacionCompleta"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/buscarPublicacionCompletaResponse" message="tns:buscarPublicacionCompletaResponse"></output>
</operation>
<operation name="registrarCategoria">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/registrarCategoriaRequest" message="tns:registrarCategoria"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/registrarCategoriaResponse" message="tns:registrarCategoriaResponse"></output>
</operation>
<operation name="listarPromociones">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarPromocionesRequest" message="tns:listarPromociones"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarPromocionesResponse" message="tns:listarPromocionesResponse"></output>
</operation>
<operation name="listarServiciosDeCategoria">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarServiciosDeCategoriaRequest" message="tns:listarServiciosDeCategoria"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarServiciosDeCategoriaResponse" message="tns:listarServiciosDeCategoriaResponse"></output>
</operation>
<operation name="infoServicio" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/infoServicioRequest" message="tns:infoServicio"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/infoServicioResponse" message="tns:infoServicioResponse"></output>
</operation>
<operation name="listarServicios">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarServiciosRequest" message="tns:listarServicios"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarServiciosResponse" message="tns:listarServiciosResponse"></output>
</operation>
<operation name="altaPromocion" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/altaPromocionRequest" message="tns:altaPromocion"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/altaPromocionResponse" message="tns:altaPromocionResponse"></output>
</operation>
<operation name="getCatTree">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/getCatTreeRequest" message="tns:getCatTree"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/getCatTreeResponse" message="tns:getCatTreeResponse"></output>
</operation>
<operation name="infoPromocion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/infoPromocionRequest" message="tns:infoPromocion"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/infoPromocionResponse" message="tns:infoPromocionResponse"></output>
</operation>
<operation name="listarServiciosDePromocion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarServiciosDePromocionRequest" message="tns:listarServiciosDePromocion"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/listarServiciosDePromocionResponse" message="tns:listarServiciosDePromocionResponse"></output>
</operation>
<operation name="altaServicioSinDestino" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/altaServicioSinDestinoRequest" message="tns:altaServicioSinDestino"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/altaServicioSinDestinoResponse" message="tns:altaServicioSinDestinoResponse"></output>
</operation>
<operation name="registrarCategoriaConPadre" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/registrarCategoriaConPadreRequest" message="tns:registrarCategoriaConPadre"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/registrarCategoriaConPadreResponse" message="tns:registrarCategoriaConPadreResponse"></output>
</operation>
<operation name="altaServicioConDestino" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://Servidor/PublicadorControladorPublicacion/altaServicioConDestinoRequest" message="tns:altaServicioConDestino"></input>
<output wsam:Action="http://Servidor/PublicadorControladorPublicacion/altaServicioConDestinoResponse" message="tns:altaServicioConDestinoResponse"></output>
</operation>
</portType>
<binding name="PublicadorControladorPublicacionPortBinding" type="tns:PublicadorControladorPublicacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="buscarPublicacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="buscarPublicacionCompleta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="registrarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarPromociones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarServiciosDeCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="infoServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarServicios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="altaPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="getCatTree">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="infoPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarServiciosDePromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="altaServicioSinDestino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="registrarCategoriaConPadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="altaServicioConDestino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorControladorPublicacionService">
<port name="PublicadorControladorPublicacionPort" binding="tns:PublicadorControladorPublicacionPortBinding">
<soap:address location="http://localhost:9128/controlador_publicacion"></soap:address>
</port>
</service>
</definitions>