t3tpgr32/web/WEB-INF/wsdl/localhost_9128/controlador_reserva.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorControladorReservaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:9128/controlador_reserva?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="actualizarEstado">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:estado"></part>
</message>
<message name="actualizarEstadoResponse"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="infoReserva">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="infoReservaResponse">
<part name="return" type="tns:dataReserva"></part>
</message>
<message name="obtenerFactura">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="obtenerFacturaResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="facturarReserva">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="facturarReservaResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="obtenerFacturaReserva">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="obtenerFacturaReservaResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="cambiarFechaCreacionReserva">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="cambiarFechaCreacionReservaResponse"></message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"></part>
</message>
<message name="infoReservaProveedor">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="infoReservaProveedorResponse">
<part name="return" type="tns:dataReserva"></part>
</message>
<message name="proveedorFacturoReserva">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="proveedorFacturoReservaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getClienteReserva">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getClienteReservaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="generarReserva">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="generarReservaResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="PublicadorControladorReserva">
<operation name="actualizarEstado" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/actualizarEstadoRequest" message="tns:actualizarEstado"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/actualizarEstadoResponse" message="tns:actualizarEstadoResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorControladorReserva/actualizarEstado/Fault/Exception"></fault>
</operation>
<operation name="infoReserva">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/infoReservaRequest" message="tns:infoReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/infoReservaResponse" message="tns:infoReservaResponse"></output>
</operation>
<operation name="obtenerFactura">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/obtenerFacturaRequest" message="tns:obtenerFactura"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/obtenerFacturaResponse" message="tns:obtenerFacturaResponse"></output>
</operation>
<operation name="facturarReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/facturarReservaRequest" message="tns:facturarReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/facturarReservaResponse" message="tns:facturarReservaResponse"></output>
</operation>
<operation name="obtenerFacturaReserva">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/obtenerFacturaReservaRequest" message="tns:obtenerFacturaReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/obtenerFacturaReservaResponse" message="tns:obtenerFacturaReservaResponse"></output>
</operation>
<operation name="cambiarFechaCreacionReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/cambiarFechaCreacionReservaRequest" message="tns:cambiarFechaCreacionReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/cambiarFechaCreacionReservaResponse" message="tns:cambiarFechaCreacionReservaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/PublicadorControladorReserva/cambiarFechaCreacionReserva/Fault/ParseException"></fault>
</operation>
<operation name="infoReservaProveedor" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/infoReservaProveedorRequest" message="tns:infoReservaProveedor"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/infoReservaProveedorResponse" message="tns:infoReservaProveedorResponse"></output>
</operation>
<operation name="proveedorFacturoReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/proveedorFacturoReservaRequest" message="tns:proveedorFacturoReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/proveedorFacturoReservaResponse" message="tns:proveedorFacturoReservaResponse"></output>
</operation>
<operation name="getClienteReserva">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/getClienteReservaRequest" message="tns:getClienteReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/getClienteReservaResponse" message="tns:getClienteReservaResponse"></output>
</operation>
<operation name="generarReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorReserva/generarReservaRequest" message="tns:generarReserva"></input>
<output wsam:Action="http://Servidor/PublicadorControladorReserva/generarReservaResponse" message="tns:generarReservaResponse"></output>
</operation>
</portType>
<binding name="PublicadorControladorReservaPortBinding" type="tns:PublicadorControladorReserva">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="actualizarEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="infoReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="obtenerFactura">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="facturarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="obtenerFacturaReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="cambiarFechaCreacionReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="infoReservaProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="proveedorFacturoReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="getClienteReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="generarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorControladorReservaService">
<port name="PublicadorControladorReservaPort" binding="tns:PublicadorControladorReservaPortBinding">
<soap:address location="http://localhost:9128/controlador_reserva"></soap:address>
</port>
</service>
</definitions>