t3tpgr32/web/WEB-INF/wsdl/localhost_9128/controlador_usuario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorControladorUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:9128/controlador_usuario?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="infoCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="infoClienteResponse">
<part name="return" type="tns:dataCliente"></part>
</message>
<message name="listarPublicacionesProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPublicacionesProveedorResponse">
<part name="return" type="tns:dataPublicacionArray"></part>
</message>
<message name="listarProveedores"></message>
<message name="listarProveedoresResponse">
<part name="return" type="tns:dataUsuarioArray"></part>
</message>
<message name="altaClienteConImg">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:base64Binary"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="altaClienteConImgResponse"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="altaProveedorConImg">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:base64Binary"></part>
<part name="arg8" type="xsd:string"></part>
</message>
<message name="altaProveedorConImgResponse"></message>
<message name="getImagenDelUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getImagenDelUsuarioResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="altaProveedor">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
</message>
<message name="altaProveedorResponse"></message>
<message name="altaCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
</message>
<message name="altaClienteResponse"></message>
<message name="getNickUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getNickUsuarioResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="listarClientes"></message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataUsuarioArray"></part>
</message>
<message name="infoUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="infoUsuarioResponse">
<part name="return" type="tns:dataUsuario"></part>
</message>
<message name="existeMail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeMailResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="infoProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="infoProveedorResponse">
<part name="return" type="tns:dataProveedorBean"></part>
</message>
<message name="comprobarUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="comprobarUsuarioResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="listarReservasProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarReservasProveedorResponse">
<part name="return" type="tns:dataReservaArray"></part>
</message>
<message name="tieneImagen">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="tieneImagenResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PublicadorControladorUsuario">
<operation name="infoCliente">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/infoClienteRequest" message="tns:infoCliente"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/infoClienteResponse" message="tns:infoClienteResponse"></output>
</operation>
<operation name="listarPublicacionesProveedor">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/listarPublicacionesProveedorRequest" message="tns:listarPublicacionesProveedor"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/listarPublicacionesProveedorResponse" message="tns:listarPublicacionesProveedorResponse"></output>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/listarProveedoresRequest" message="tns:listarProveedores"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/listarProveedoresResponse" message="tns:listarProveedoresResponse"></output>
</operation>
<operation name="altaClienteConImg" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/altaClienteConImgRequest" message="tns:altaClienteConImg"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/altaClienteConImgResponse" message="tns:altaClienteConImgResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorControladorUsuario/altaClienteConImg/Fault/Exception"></fault>
</operation>
<operation name="altaProveedorConImg" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/altaProveedorConImgRequest" message="tns:altaProveedorConImg"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/altaProveedorConImgResponse" message="tns:altaProveedorConImgResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorControladorUsuario/altaProveedorConImg/Fault/Exception"></fault>
</operation>
<operation name="getImagenDelUsuario">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/getImagenDelUsuarioRequest" message="tns:getImagenDelUsuario"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/getImagenDelUsuarioResponse" message="tns:getImagenDelUsuarioResponse"></output>
</operation>
<operation name="altaProveedor" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/altaProveedorRequest" message="tns:altaProveedor"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/altaProveedorResponse" message="tns:altaProveedorResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorControladorUsuario/altaProveedor/Fault/Exception"></fault>
</operation>
<operation name="altaCliente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/altaClienteRequest" message="tns:altaCliente"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/altaClienteResponse" message="tns:altaClienteResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorControladorUsuario/altaCliente/Fault/Exception"></fault>
</operation>
<operation name="getNickUsuario">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/getNickUsuarioRequest" message="tns:getNickUsuario"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/getNickUsuarioResponse" message="tns:getNickUsuarioResponse"></output>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="infoUsuario">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/infoUsuarioRequest" message="tns:infoUsuario"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/infoUsuarioResponse" message="tns:infoUsuarioResponse"></output>
</operation>
<operation name="existeMail">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/existeMailRequest" message="tns:existeMail"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/existeMailResponse" message="tns:existeMailResponse"></output>
</operation>
<operation name="infoProveedor">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/infoProveedorRequest" message="tns:infoProveedor"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/infoProveedorResponse" message="tns:infoProveedorResponse"></output>
</operation>
<operation name="comprobarUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/comprobarUsuarioRequest" message="tns:comprobarUsuario"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/comprobarUsuarioResponse" message="tns:comprobarUsuarioResponse"></output>
</operation>
<operation name="listarReservasProveedor">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/listarReservasProveedorRequest" message="tns:listarReservasProveedor"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/listarReservasProveedorResponse" message="tns:listarReservasProveedorResponse"></output>
</operation>
<operation name="tieneImagen">
<input wsam:Action="http://Servidor/PublicadorControladorUsuario/tieneImagenRequest" message="tns:tieneImagen"></input>
<output wsam:Action="http://Servidor/PublicadorControladorUsuario/tieneImagenResponse" message="tns:tieneImagenResponse"></output>
</operation>
</portType>
<binding name="PublicadorControladorUsuarioPortBinding" type="tns:PublicadorControladorUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="infoCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarPublicacionesProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="altaClienteConImg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="altaProveedorConImg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getImagenDelUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="altaProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="altaCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNickUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="infoUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="existeMail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="infoProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="comprobarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarReservasProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="tieneImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorControladorUsuarioService">
<port name="PublicadorControladorUsuarioPort" binding="tns:PublicadorControladorUsuarioPortBinding">
<soap:address location="http://localhost:9128/controlador_usuario"></soap:address>
</port>
</service>
</definitions>