t3tpgr32/src/conf/xml-resources/web-service-references/controlador_reserva/wsdl/localhost_9128/controlador_reserva.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:element name="ParseException" type="tns:ParseException"></xs:element>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReserva">
<xs:sequence>
<xs:element name="num_" type="xs:int"></xs:element>
<xs:element name="cliente_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="creacion_" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="estado_" type="tns:estado" minOccurs="0"></xs:element>
<xs:element name="precio_total_" type="xs:float"></xs:element>
<xs:element name="dpd_" type="tns:parDPD" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parDPD">
<xs:sequence>
<xs:element name="dpub_" type="tns:dataPublicacion" minOccurs="0"></xs:element>
<xs:element name="dd_" type="tns:dataDisponibilidad" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPublicacion" abstract="true">
<xs:sequence>
<xs:element name="nombre_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor_" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataServicioBean">
<xs:complexContent>
<xs:extension base="tns:dataPublicacion">
<xs:sequence>
<xs:element name="descripcion_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio_" type="xs:float"></xs:element>
<xs:element name="paisOrigen_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ciudadOrigen_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paisDestino_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ciudadDestino_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagenes_" type="xs:base64Binary" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="categorias_" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataPromocion">
<xs:complexContent>
<xs:extension base="tns:dataPublicacion">
<xs:sequence>
<xs:element name="descuento_" type="xs:float"></xs:element>
<xs:element name="precioTotal_" type="xs:float"></xs:element>
<xs:element name="servicios_" type="tns:dataServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataServicio">
<xs:complexContent>
<xs:extension base="tns:dataPublicacion">
<xs:sequence>
<xs:element name="descripcion_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio_" type="xs:float"></xs:element>
<xs:element name="paisOrigen_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ciudadOrigen_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paisDestino_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ciudadDestino_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagenes_" type="xs:base64Binary" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="categorias_" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataDisponibilidad">
<xs:sequence>
<xs:element name="cant_" type="xs:int"></xs:element>
<xs:element name="fechaIni_" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaFin_" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataUsuario" abstract="true">
<xs:sequence>
<xs:element name="nickname_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo_" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha_" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="img_" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="Registrada"></xs:enumeration>
<xs:enumeration value="Cancelada"></xs:enumeration>
<xs:enumeration value="Pagada"></xs:enumeration>
<xs:enumeration value="Facturada"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>